body{
    overflow-x: hidden;
}
 .main-section .nav-bar .logo {
     width: 65px;
 }

 .main-section .nav-bar .logo img {
     width: 100%;
     margin-bottom: -20px;
 }

  .nav-bar .nav ul {
     
     display: flex;
     justify-content: center;
     align-items: center;

  }
   .nav-bar .nav ul li {
     float: left;
     list-style: none;
     position: relative;
      margin: 0px 50px; 
      top: -60px;
     color: white;
     right: -480px;
     

 }  

  .nav-bar .nav li a {

     color: black;

 }  

  .information {
     border: 1px solid black;
     width: 500px;
     height: 500px;
     display: flex;
     justify-content: center;
     border-radius: 15px;
     padding: 25px 30px;
     margin: auto;
    
 } 

 button img {
     width: 20px;
     height: 15px;
 }

 .info h4{
    padding: 60px 10px;
    margin: 8px;
    margin-left: -50px;

 }
 .info hr{
      margin: -50px; 

 }

 .information p{
    color: grey;
    margin: 35px  auto;
    padding: 5px 150px;
 }

 .info .btn1 {
      padding: 10px;  
     border-radius: 10px;
    
 }

 .info .btn{
    padding: 100px 1px;
    margin: 5px;
    margin-left: -30px;
    border-radius: 10px;
    
 }
 .info .btn button{
    padding: 5px; 
    background-color: rgb(151, 208, 253);
    border-radius: 10px;
    width: 30%;
 }

.main-section h5{
    font-size: 19px;
    
    text-align: center;
}
 
.furniture{
    
      padding-left: 250px;  
}

.furniture h1{
   
    font-size: 45px;
}
.furniture p{
    color: rgb(98, 182, 238);
    font-size: 25px;
}
.furniture .fur{
    display: flex;
    gap: 80px;
}    

.furniture img{
    width: 30%; 
}

.furniture  h5{
      
     text-align: center;
     margin-left: -190px;
      padding: 30px; 
}

.team-head{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.section{
    background-color: rgb(214, 212, 212);
}

.section1{
    background-color: rgb(214, 212, 212);
}

.section img{
    border-radius: 50%;
    width: 12%;
    left:280px;
    position: absolute;
} 

 .section1 img{
    border-radius: 50%;
    width: 12%;
    right:280px;
    position: absolute;
} 
.section .content{
    margin: 20px;
}

.section .content h4{
   font-family:'Dancing Script';
   font-size: 45px;

}
.section1 .content h4{
    font-family:'Dancing Script';
    font-size: 45px;
 }
.section .content p{
  font-weight: 100;
  margin: -7px;
padding: 8px;
position: relative;
top: -35px;
}
.section1 .content p{
    font-weight: 100;
    margin: -7px;
  padding: 8px;
  position: relative;
  top: -35px;
  }

.work h4{
    text-align: center;
    font-size: 43px;
    font-weight: 400;
    margin-bottom: -5px;
}

.work hr{
   width: 25%;
}


.best img{
   width: 30%;
   position: relative;
   left: 130px; 
    top: 50px; 
    
}
.best .para{
  position:relative; 
  top: -200px;
}
.best .para h4{
     margin: auto; 
     
     position: relative;
      right: 80px;
     left: 50px; 

}
   .best .para p{
    
     width: 230px;
    margin-left: 650px;
    font-size: 20px; 

}  


.best1 img{
    width: 30%;
    position: absolute;
    right: 150px;
   
 }

 .best1 .para1{
    position:relative; 
    top: -200px;
  }

  .best1 .para1 h4{
    margin: auto; 
    position: relative;
    right: 70px; 
    bottom: -200px;
}

  .head p{
    width: 230px; 
    font-size: 20px;
   position: relative;
   bottom:-200px;
   left: 570px;
}  
.project{
    margin-right: 250px;

}
.project h3{
    
    background-color: rgb(72, 168, 168);
    width: 350px;
    padding: 8px;
    margin: 30px;
    margin-top: 130px;
    font-size: 26px;
}
 
.project .details h4{
    margin: 30px;
    font-size: 20px;
    font-weight: 600;
}

.project .details p{
    width: 180px;
    margin: 30px;
    font-size: 19px;
}

.project img{
    border-radius: 50%;
    float: right;
    width: 25%;
    position: relative; 
    top: -110px;    
}

 .project .image1 img{
    position: relative;
      top: -330px;  
    left: -100px;       
}

.project .image2 img{
    position: relative;
      top: -390px;  
     left: 90px; 
} 

.project h5{
    text-align: center;
    position: relative;
    right: -180px;
    bottom: -120px;
}

.footer-section{
    background-color: #4bbdd0;
    position: relative;
    top:155px ;
}

.footer-section .footer{
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

.footer-section .footer .contact {
    color: white;
    margin: 30px;
}

.footer-section .footer .contact h4{
    font-size: 30px;
}

.footer-section .footer .contact p {
    font-size: 20px;
}

.footer-section .footer .social-links {
    color: white;
    margin: 20px;
}

.footer-section .footer .social-links img {
    display: inline-block;
}

.footer-section .footer .pay {
    color: white;
  
     position: relative; 
     right: -230px;
}

.footer-section .footer .pay h6{
    font-size: 25px;
}

